{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    
    <a href="{{ path('app_book_index') }}">Books</a>
    <a href="{{ path('app_book_new') }}">Add books</a>
        
{% endblock %}
